<div class="container mt-2">
    <div [formGroup]="listarFormGroup">
        <div class="card form-group">

            <div class="card-header">
                <div class="row">
                    <div class="col-md-11">
                        <div>
                            <div><label>
                                    <H3 class="titulo-verde">Usuarios</H3>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           <div class="card-body">
            <div class="row">

            <div class="col-md-2">
                <div class="text-center">
                    <input type="button" value="Crear Usuario" name="Usuario" id="Usuario" (click)="CrearUsuario()"
                        class="btn  btn-primary verde2_b" />
                </div>
            </div>  
            <div class="col-md-8">

            </div>            
            <div class="col-md-2">
                <div class="text-center">
                    <input type="button" value="Actualizar" name="Usuario" id="Usuario" (click)="ActualizarUsuario()"
                        class="btn  btn-primary verde2_b" />
                </div>
            </div>
            </div>
           </div>
            <div class="card-body">
                <div class="row">
                    <p-table styleClass="p-datatable-gridlines" responsiveLayout="scroll" [value] ="objecs">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Id</th>
                                <th>Nombre Usuario</th>
                                <th>Apellido Usuario</th>
                                <th>Rol</th>
                                <th>Fecha Creacion</th>
                                <th>Usuario crea Registro</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-objec>
                            <tr>
                                <td>{{objec.id}}</td>
                                <td>{{objec.nombreUsuario}}</td>
                                <td>{{objec.apellidousuario}}</td>
                                <td>{{objec.idRol}}</td>
                                <td>{{objec.createDate}}</td>
                                <td>{{objec.createUser}}</td>
                            </tr> 
                        </ng-template>
                    </p-table>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input type="number" name="id" id="id"formControlName="id" class="form-control label-format" placeholder="Digite el id a eliminar" />
                     </div>
                     <div class="col-md-2">
                       <div class="text-center">
                           <input type="button" value="Eliminar" name="Customer" id="Customer" (click)="DelUsuarios()"
                               class="btn  btn-primary verde2_b" />
                       </div>
                   </div>
                </div>
            </div>
        </div>
        </div>
</div>